In [1]:
import pandas as pd

In [29]:
data = pd.read_csv("Unemployment-1.csv")

In [30]:
data = pd.DataFrame(data)
print(type(data))
print(data.columns)

<class 'pandas.core.frame.DataFrame'>
Index(['LOCATION', 'INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY', 'TIME',
       'Value'],
      dtype='object')

In [31]:
data.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME     Value
0      CAN       HUR     TOT   PC_LF         A  1955  4.408333
1      CAN       HUR     TOT   PC_LF         A  1956  3.433333
2      CAN       HUR     TOT   PC_LF         A  1957  4.650000
3      CAN       HUR     TOT   PC_LF         A  1958  7.066667
4      CAN       HUR     TOT   PC_LF         A  1959  5.991667

In [32]:
countries = ["CAN","USA","ITA","GBR","DEU","JPN","FRA"]

data = data[data["LOCATION"].isin(countries)]

In [37]:
data.tail()

      LOCATION INDICATOR SUBJECT MEASURE FREQUENCY     TIME  Value
18236      GBR       HUR   WOMEN   PC_LF         M  2022-09    3.5
18237      GBR       HUR   WOMEN   PC_LF         M  2022-10    3.5
18238      GBR       HUR   WOMEN   PC_LF         M  2022-11    3.6
18239      GBR       HUR   WOMEN   PC_LF         M  2022-12    3.6
18240      GBR       HUR   WOMEN   PC_LF         M  2023-01    3.6